.center{
    display: flex;
    justify-content: center; /* Horizontal centering */
    align-items: center;
    padding-top: 3%;
}

.heading{
    display: flex;
    justify-content: left; /* Horizontal centering */
    align-items: left;  
    padding-left: 30%;
    padding-top: 7%;
}