.table-container {
    width: 600px;
    display: flex;
    align-items: center; 
    justify-content: center;
    height: 30vh; 
    padding-left: 330px;
    padding-right: 400px;
}

.heading{
  padding-left: 330px;
}

.addproduct-type{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 480px;
}



  

  
  
  
 


  
