<app-navigation-bar></app-navigation-bar>
<h2 class="textcenter">Edit Product Type</h2><br>
<div class="center">
    
<mat-card class="mat-card">

        <mat-form-field>

          <input matInput placeholder="Product Type Name" name="typeName" value="">

        </mat-form-field>
        <br>
        <div class="textcenter">
        <button mat-raised-button color="primary" (click)="update()">Update</button>&nbsp;&nbsp;
        <button mat-raised-button color="primary" [routerLink]="['/producttypelist']">Back to List</button>
      </div>
  </mat-card>
</div>